<% include ../../partials/header %>
<script type="text/javascript">obj.setData(<%- JSON.stringify(results) %>)</script>
<form>
    First Name: <input type="text" onkeyup="obj.showHint(this.value)"/>
    <input type="submit" value="Search" />
</form>
<div class="flex-container" id="flex-container">

</div>
<% include ../../partials/footer %>