<% include ./partials/header %>

<h1>This is forget password page !!!!</h1>

            <div>
                <a href="/login" class="btn btn-default btn-lg"> Back to login</a>
            </div>


<% include ./partials/footer %>