<% include ./partials/header %>
<div id="maincontent">
	<div class="jumbotron">
		<!-- CITE: http://ecampus.oregonstate.edu/online-degrees/ -->
		<img src="http://ecampus.oregonstate.edu/includes/2017/images/osu-logo.svg" type="image/svg+xml" onerror="this.src='/includes/2017/images/osu-logo@2x.png'; this.onerror=null;" alt="Oregon State University">
	    <h1> Employee Recognition Portal </h1>
	    <p> This webpage was created for our online capstone class - CS 467 </p>
	</div> 
</div>
	<title>ERD of Database</title>
<div id="sample">
  <div id="myDiagramDiv" style="background-color: white; border: solid 1px black; width: 80%; height: 700px; margin-left: 10%; margin-right: 10%;"></div>
</div>
<% include ./partials/footer %>