<% include ../partials/header %>
<div class="container1">
	<div class="box box-1">
		<ul id="myUl">
			<li class="mybtn"><i class="fas fa-plus"></i><a id="a_grant_award" onclick="updatePage(event)"> Grant Award</a><li>
            <li class="mybtn"><i class="fas fa-award"></i><a id="a_show_award" onclick="updatePage(event)"> Show Granted Awards</a><li>
	      	<li class="mybtn"><i class="fas fa-user"></i><a id="a_edit_username" onclick="updatePage(event)"> Edit User Name</a></li>
    	</ul>
	</div>
	<div class="box box-2">
		<% include ./awards/new %>
		<div class="flex-container" id="show_award" hidden></div>
		<% include ./edit %>
	</div>
</div>
<% include ../partials/footer %>
