<% include ../../partials/header %>
<script type="text/javascript">drawPieChart(<%- JSON.stringify(locationAwards) %>, 'Location', 'Location Awards')</script>
<div id="piechart" style="width: 900px; height: 500px;"></div>
<% include ../../partials/footer %>
