<% include ../../partials/header %>

<h1>This is delete page</h1>

<table>
	<caption>All awards</caption>
	<thead>
		<tr>
			<th>Granted By</th>
			<th>Award Title</th>
			<th>Award Recipient</th>
			<th>Grant Date</th>
			<th>Delete</th>
		</tr>
	</thead>
	
	<tbody>
		<% results.forEach(function(result){ %>
		<tr>
			<th><%=result.granted_by%></th>
			<td><%=result.title%></td>
			<td><%=result.award_recipient%></td>
			<td><%=result.grant_date %></td>
			<td><button>Delete</button></td>
		</tr>
		<% }); %>
	</tbody>
</table>

<a href="/user">Back to User page</a>

<% include ../../partials/footer %>